.infoContainer {
  width: inherit;
  padding: 21px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.id {
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}

.etc {
  display: flex;
  color: rgba(71, 66, 66, 0.637);
  font-size: 18px;
}

.date {
  margin-right: 16px;
  margin-top: 1px;
}

.report {
  cursor: pointer;
}

.reportIcon {
  z-index: 1;
  display: flex;
  position: absolute;
  padding: 12px 16px;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 50%);
  border-radius: 10px;
  left: 70%;
  color: black;
  align-items: center;
  background-color: white;
}

.alarmIcon {
  padding-right: 10px;
}
