.filter_wrap {
  display: flex;
  /* width: 100%; */
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background: #f9f9f9;
}

.filter_item_wrap {
  display: flex;
  align-items: center;
}

.filter_item {
  width: auto;
  padding: 0.7rem 1rem 0.7rem;
  margin-right: 12px;
  background: #e6e7f9;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.filter_item active {
  background: black;
}

.filter_name {
  font-size: 100%;
  color: #4348a2;
  border: none;
  cursor: pointer;
  background-color: #e6e7f9;
}

.refresh_icon {
  margin-left: auto;
}

.add_btn {
  display: block;
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 18px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  padding: 0;
}
